<template>
  <div id="main">
    <span>2</span>
    <span>8</span>
    <span>5</span>
    <img src="../assets/im/known.jpg" alt="">
    <img src="../assets/im/known.jpg" alt="">
  </div>
</template>

<script>
export default {
  name: "back"
}
</script>

<style scoped>

#main{
  overflow-x: hidden;
}

@keyframes animation1 {
  0%, 100% {
    top: 5vh;
    left: 0;
    transform: scale(0.8) rotate(360deg);
  }
  40% {
    top: 5vh;
    left:100vw;
    transform: scale(1.2) rotate(90deg);
  }
  55%{
    top: 60vh;
    left:80vw;
  }
  75%{
    top: 50vh;
    left:30vw;
  }
}

@keyframes animation2 {
  0%, 100% {
    bottom: 5vh;
    left: 0;
    transform: scale(0.8) rotate(360deg);
  }
  50% {
    bottom: 5vh;
    left:90vw;
    transform: scale(1.2) rotate(90deg);
  }
}
@keyframes animation3 {
  0%, 100% {
    bottom: 5vh;
    left: 0;
    transform: scale(0.8) rotate(360deg);
  }
  50% {
    bottom: 20vh;
    left: 80vw;
    transform: scale(0.6) rotate(170deg);
  }
  60% {
    bottom: 5vh;
    left:93vw;
    transform: scale(1.2) rotate(90deg);
  }
}
@keyframes animation4 {
  0%, 100% {
    bottom: 5vh;
    left: 0;
    transform: scale(0.8) rotate(360deg);
  }
  40% {
    bottom: 94vh;
    left:93vw;
    transform: scale(1.2) rotate(90deg);
  }

  55% {
    bottom: 40vh;
    left:93vw;
    transform: scale(1.2) rotate(90deg);
  }
}
@keyframes animation5{
  0%, 100% {
    bottom: 5vh;
    left:5vw;
    transform: scale(1) rotate(380deg);
  }

  12.5%, 87.5% {
    bottom: 94vh;
    left:25vw;
    transform: scale(5) rotate(-45deg);
  }

  25%, 75% {
    bottom: 5vh;
    left:50vw;
    transform: scale(1.2) rotate(90deg);
  }

  37.5%, 62.5% {
    bottom: 94vh;
    left:75vw;
    transform: scale(0.8) rotate(180deg);
  }
  50% {
    bottom: 18vh;
    left:83vw;
    transform: scale(3) rotate(45deg);
  }
}

img:nth-of-type(1){
  position: absolute;
  width: 5vw;
  animation: animation1 10s linear infinite alternate;
  z-index: -1;
}

img:nth-of-type(2) {
  position: absolute;
  width: 5vw;
  animation: animation2 7s linear infinite alternate;
  z-index: -1;
}
span:nth-of-type(2) {

  animation: animation3 9s linear infinite alternate;

}
span:nth-of-type(1) {

  animation: animation4 8s linear infinite alternate;
}

span:nth-of-type(3) {

  animation: animation5 20s linear infinite alternate;

}
span{
  font-size: 100px;
  position: absolute;
  width: 5vw;
  z-index: -1;
  color: black;
  opacity: 0.3;
}
</style>