<template>
  <div>

    <h1>Sudoku</h1>
    <nav>
      <button @click="startNewGame">Nová hra</button>
      <button @click="score">Žebříček</button>
      <button @click="this.continue" v-if="this.oldGame()">Načíst hru</button>
      <button @click="loadFile">Načíst json</button>
    </nav>
    <input @change="processFile" type="file" id="fileinput" accept=".json" />
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'MainMenu',
  data() {return {
    audio: new Audio(require("../assets/button4.wav"))
    }
  },

  mounted(){this.oldGame()},
  methods:{
    startNewGame: function () {
      this.audio.play();
      this.$router.push("/setting")
    },


    oldGame:function(){
      return !!localStorage.sudoku;

    },
    continue:function (){
      this.audio.play();
      this.$router.push("/sudoku")
    },
    score:function () {
      this.audio.play();
      this.$router.push("/score");
    },
      loadFile: function() {
        const inp = document.querySelector("#fileinput");
        this.audio.play();
        inp.click();
      },
      processFile: function() {
        const inp = document.querySelector("#fileinput");
        const fr = new FileReader();
        fr.onload = (evt) => {
          localStorage.sudoku = evt.target.result;
          localStorage.gameType = "Custom";
          this.$router.push("/sudoku");
        };
        fr.readAsText(inp.files[0]);
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

button {
  transition: filter .3s;
}

button{
  height: 100px;
  width: 200px;
  display:block;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 30px;
  font-weight:bold;
  color:black;
  background-color:lightgray;
  text-align:center;
  margin:40px auto;
  border-radius:20px;
  transition: filter .3s;
}

#fileinput {
  display: none;
}

button:hover {
  filter: invert(1);
}

</style>
