<template>
  <div>
    <h1>Nastavení hry</h1>
    <form @submit="play">
      <label for="nickname" >Přezdívka: </label>
      <input type="text" required ref="focus" v-model="name" id="nickname" placeholder="Zadejte přezdívku"/>
      <div @click="showInput">
          <label class="hard" for="Hard">Těžká</label>
          <label class="easy" for="easy">Lehká</label>
          <label for="custom">Vlastní</label>
          <input checked type="radio" name="gameType" id="Hard" value="Hard">
          <input type="radio" name="gameType" id="easy" value="Easy">
          <input type="radio" name="gameType" id="custom" value="Custom">
      </div>
       <label>
        <input type="text" placeholder="Počet polí" id="customText">
        </label>
      <input type="submit">
    </form>
  </div>
</template>

<script>
export default {
  name: "NewGameSettings",
  data(){
    return {
      name: "",
      numbers: 40,
      audio: new Audio(require("../assets/button4.wav"))
    }
  },
  mounted(){
    this.$refs.focus.focus()
  },
  methods:{
    play:function(e){
      e.preventDefault();
      this.audio.play();
      let number = document.querySelector('input[name="gameType"]:checked').value;
      if(number) {
        switch (number) {
          case "Hard":
            this.numbers = 30;
            break;
          case "Easy":
            this.numbers= 70;
            break;
          case "Custom":
            this.numbers = this.checkCustom();
        }
        if(this.numbers) {
          localStorage.gameType = number;
          localStorage.name = this.name;
          localStorage.removeItem("sudoku");
          localStorage.removeItem("time");
          this.$router.push({name: "sudoku", params: {numbers: 81 - this.numbers}})
        }else{
          alert("zadejte číslo mezi 30 a 80");
        }
      }
    },

    /**
     * shows custom input
     */
    showInput: function (){
      if(document.querySelector('input[name="gameType"]:checked').value ==="Custom"){
        let x = document.getElementById("customText");
        x.style.display = "block";
        x.focus();
        x.required = true;
      }else{
        let x = document.getElementById("customText");
        x.style.display = "none";
        x.required = false;
      }
    },
    checkCustom:function(){
      let x = document.getElementById("customText");
      let number = x.value;
      if(isNaN(number)){
        return false;
      }else{
        if(number < 30 || number >80){
          return false;
        }
        return number;
      }
    }
  }
}
</script>

<style scoped>


form > label:first-child{
  font-size: 30px;
}

#nickname{
  margin: 0 auto;
  font-size: 30px;
  border-radius: 5px;
  width: 250px;
  height: 50px
}


label.hard {
  transform: rotateZ(-25deg);
  display: inline-block;
  margin-bottom: 10px;
  color: crimson;
}
input[type="radio"]{
  width: 20px;
  height: 20px;
}
input[type="radio"]:checked {
    width: 30px;
    height: 30px;
  }

#customText{
  margin: 20px auto 0;
  font-size: 30px;
  border-radius: 5px;
  width: 150px;
  display: none;
}
form{
  margin:0 auto;
}
form > label + input + div{
  font-size: 25px;
  margin: 30px auto 0 auto;
  width:30%;
  display:grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 60px 40px;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

label.easy {
  transform: rotateX(50deg);
  display: inline-block;
}

input[type="text"] {
  color: black;
  transition: color .3s;
}

input[type="text"]:focus {
  color: blue;
}

input[type="submit"]{
  height: 75px;
  width: 125px;
  display:inline-block;
  box-sizing: border-box;
  text-decoration:none;
  font-size: 20px;
  font-weight:bold;
  color:black;
  background-color:lightgray;
  border-radius:10px;
  transition: filter .3s;
  margin: 30px 20px 50px;
}


</style>