<template>
  <svg :viewBox="`0 0 ${width} ${(bucketCount+1)*50}`">
    <g>
      <text x="0" y="30">t [s]</text>
      <text v-for="(_x, i) in xBreakpoints" :key="i" y="30" :x="62.5+dataWidth*i/maxCount">{{i}}</text>
      <rect x="0" y="35"></rect>
      <rect x="65" y="35"></rect>
    </g>
    <text
        v-for="(b, i) in yBreakPoints"
        :key="`l-${i}`"
        x="0"
        :y="60+i*50"
    >
      {{b}}<template v-if="i===yBreakPoints.length-1">+</template>
      <template v-else>
        &ndash; {{ yBreakPoints[i + 1] - 1 }}
      </template>
    </text>
    <rect
        class="score"
        v-for="(bValue, i) in buckets"
        :key="`r-${i}`"
        :x="65"
        :y="(i+1)*50"
        :width="dataWidth*bValue/maxCount"
        height="10"
    />
  </svg>
</template>

<script>
export default {
  name: "ScoreChart",
  props: {
    scores: {
      type: Array,
      required: true,
    },
    bucketCount: {
      type: Number,
      default: 3,
    },
    width: {
      type: Number,
      default: 365,
    }
  },
  computed: {
    dataWidth() {
      return this.width - 75;
    },
  },
  methods: {
    createHistogram() {
      // aggregate histogram
      const min = this.scores.reduce((prev, curr) => {
        return prev < curr ? prev : curr;
      }, Number.MAX_SAFE_INTEGER);
      const max = this.scores.reduce((prev, curr) => {
        return prev > curr ? prev : curr;
      }, 0);
      const totalDiff = max - min;
      const bucketRange = Math.ceil(totalDiff / this.bucketCount) || 1;

      this.buckets = [];
      for (let i = 0; i < this.bucketCount; i++) {
        this.buckets.push(0);
      }

      for (const val of this.scores) {
        let index = Math.floor((val - min) / bucketRange);
        if (index >= this.bucketCount)
          index = this.bucketCount - 1;
        this.buckets[index]++;
      }

      this.maxCount = this.buckets.reduce((p, b) => b > p ? b : p, 0) || 1;
      this.yBreakPoints = this.buckets.map((_n, i) => min + i * bucketRange);
      this.xBreakpoints = new Array(this.maxCount + 1).fill(null).map((_x, i) => i);
    }
  },
  data() {
    return {
      buckets: [],
      maxCount: 0,
      yBreakPoints: [],
      xBreakpoints: [],
    };
  },
  mounted() {
    // init
    this.createHistogram();
  },
  watch: {
    // auto update on prop change
    scores() {
      this.createHistogram();
    }
  }
}
</script>

<style scoped>
svg {
  width: 50%;
}
@media screen and (max-width: 599px) {
  svg {
    width: 80%;
  }
}


svg * {
  fill: black;
}
svg text {
  font-size: 10px;
  fill: crimson;
}
g > text:first-child {
  fill: crimson;
}
g > text {
  fill: black;
}
g > rect:first-of-type {
  height: 1px;
  width: 100%;
}
g > rect:last-of-type {
  height: 100%;
  width: 1px;
}
rect.score {
  transition: fill .3s ease-in-out;
}
rect.score:hover {
  fill: crimson;
}
</style>
