<template>
  <div class="board">
    <h1>Žebříček: <span v-if="hard">Těžká</span><span v-else>Lehká</span></h1>
    <div>
     <button @click="difficultyClick(false)">Lehká</button>
     <button @click="difficultyClick(true)">Těžká</button>
    </div>
    <section>
      <div class="header">
        <div>Jméno</div>
        <div>Čas</div>
      </div>
      <div v-for="(score, i) in high" v-bind:key="i" class="position">
        <div>{{score[2]}}</div>
        <div>{{score[1]}} sekund</div>
      </div>
    </section>

    <section>
      <h2>Histogram</h2>
      <ScoreChart v-if="high.length" :scores="scores" />
    </section>
  </div>
</template>

<script>
import ScoreChart from "@/components/ScoreChart";

export default {
  name: "Score",
  components: {ScoreChart},
  data(){
    return{
      hard: false,
      high: [],
    }
  },
  mounted(){
    this.sortWin()
  },
  computed: {
    scores() {
      return this.high.filter(([h]) => h === this.hard).map(([, score,]) => parseInt(score));
    }
  },
  methods:{
    sortWin:function() {
      if (localStorage.win) {
        this.high = JSON.parse(localStorage.win);
        this.high.sort(function (a, b) {
          return a[1] - b[1];
        })

        let temp = [];
        for (let i = 0; i < this.high.length; ++i) {
          if (this.high[i][0] === this.hard) {
            temp.push(this.high[i]);
          }
        }
        this.high = temp;
      }
    },
    difficultyClick(diff){
      this.hard = diff;
      this.sortWin();
    },
  }
}

</script>

<style scoped>
  section > div{
    width:40%;
    margin: 0 auto;
    font-size: 20px;
    display: grid;
    height:30px;

    grid-template-columns:  50% 50%;
  }

  h1 + div{
    display:flex;
    justify-content: center;
  }

  h1 + div + div ~ div > div {
    padding-top: 5px;
  }

  h1{
    font-size: 60px;
  }


  @keyframes shiny {
    0% {
      background-position-x: right;
    }
    100% {
      background-position-x: left;
    }
  }

  .position {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 33%, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0) 67%);
    background-size: 300% 50%;
    animation: shiny ease-in-out infinite alternate-reverse;
    vertical-align: top;
  }

  .board section > div:nth-of-type(2) {
    animation-duration: 1s;
    background-color: gold;
  }

  .board section > div:nth-of-type(3) {
    background-color: silver;
    animation-duration: 3s;
    animation-delay: 1s;
  }

  .board section > div:nth-of-type(4) {
    background-color: #cd7f32; /* bronze */
    animation-duration: 5s;
    animation-delay: 2s;
  }

  button{
    height: 75px;
    width: 125px;
    display:inline-block;
    box-sizing: border-box;
    text-decoration:none;
    font-size: 20px;
    font-weight:bold;
    color:black;
    background-color:lightgray;
    border-radius:10px;
    transition: filter .3s;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
  }

  button:hover {
    filter: invert(1);
  }

  .header {

    border-bottom: 2px solid black;
    font-weight: bold;
  }
  h2{
    margin-top: 100px;
    font-size: 40px;
  }
  @media(max-width: 599px){
    section > div{
      width:100%
    }
  }

</style>