<template>
<div  @click="click">
  <header>
    <H1>Sudoku</H1>
  </header>
  <div id="flex">
  <canvas @keypress="keypress" ref="grid"></canvas>
  <div>Doba řešení: {{seconds}} sekund
    <button @click="newGame">Nová hra</button>
    <button id="but" @click="requestFullscreen">Na celou obrazovku</button>
    <button @click="saveFile" :disabled="playing">Uložit do json</button>
    <a id="savelink"></a>
  </div>
  <div style="width: 0;overflow: hidden;">
    <input id="dummyInput" type="text" @keypress="keypress">
  </div>
  </div>
  <transition name="fade">
    <Win v-if="win"></Win>
  </transition>
</div>
</template>

<script>
import Sudoku from "@/javascript/Sudoku";
import SelectedSquare from "@/javascript/Squares/SelectedSquare";
import Wrong from "@/javascript/Squares/Wrong";
import Square from "@/javascript/Squares/Square";
import SelectedWrong from "@/javascript/Squares/SelectedWrong";
import Unchangeable from "@/javascript/Squares/Unchangeable";
import Win from "@/components/Win";

export default {
  name: "sudoku",
  components:{
    Win
  },
  props: {
    numbers: Number
  },
  data() {
    return {
      audio: new Audio(require("../assets/button4.wav")),
      name: "",
      seconds: 0,
      size: 50,  //size of sudoku square
      sudoku: new Sudoku(),
      selected: null,
      fullscreen:false,
      win: false
    }
  },
  mounted(){
    this.loadSudoku();
    this.prepareCanvas();
    setTimeout(this.canvasDrawSudoku, 100);
    this.timeCounter();
    document.addEventListener("fullscreenchange", this.fullscreenChange);
  },
  computed: {
    playing() {
      return !!localStorage.getItem("sudoku");
    }
  },

  methods: {
    /**
     * save sudoku as file
     **/
    saveFile: function() {
      if (!localStorage.sudoku) return;
      const blob = new Blob([localStorage.sudoku], {
        type: "application/json"
      })
      const url = URL.createObjectURL(blob);
      const a = document.querySelector("#savelink");
      a.href = url;
      a.download = "save.json";
      a.click();
      URL.revokeObjectURL(url);
    },
    fullscreenChange :function(){
      this.fullscreen = !this.fullscreen;
      if(!this.fullscreen){
        window.removeEventListener('keypress',
            this.keypress);
      }
},


     click:function(e){
      if(e.target.nodeName==="CANVAS"){
        this.canvasClicked(e);
      }else {
        this.selected = null;
        this.canvasDrawSudoku();
      }
      },
    /**
     * Rerurn to main menu
     **/
     newGame: function(){
      this.audio.play();
      this.$router.push("/");
    },


    /**
     * Counts time of sudoku solving
     **/
     timeCounter: function(){
      if(localStorage.time !== undefined) {
        this.seconds = Math.round((Date.now() - localStorage.time) / 1000);
        setTimeout(this.timeCounter, 1000);
      }
    },

    /**
     *  generates new sudoku or loads from memory
     **/
     loadSudoku:function() {

      this.sudoku = new Sudoku();
      this.name = localStorage.name;
      if((this.name == null && localStorage.gameType !== "Custom") || (this.numbers == null && localStorage.sudoku == null)){
        this.$router.push("/");
      }
      if(!localStorage.sudoku) {
        this.sudoku.generateSudoku(this.numbers);
        localStorage.sudoku = JSON.stringify(this.sudoku.sudoku);
        localStorage.time = Date.now();
        this.timeCounter();
      }else{
        this.sudoku.sudoku = this.JSONToSudoku(localStorage.sudoku);
        this.sudoku.continueSolve();
      }
    },

    /**
     * parses json to sudoku array
     **/
     JSONToSudoku:function(storage){
      let instance = JSON.parse(storage);
      for (let x = 0; x < 9; x++) {
        for (let y = 0; y < 9; y++) {
          let element = instance[x][y];
          let assigned = null;
          switch (element.class) {
            case "SelectedSquare":
              assigned = new SelectedSquare(x,y);
              break;
            case "SelectedWrong":
              assigned = new SelectedWrong(x,y);
              break;
            case "Square":
              assigned = new Square(x,y);
              break;
            case "Unchangeable":
              assigned = new Unchangeable(x,y);
              break;
            case "Wrong":
              assigned = new Wrong(x,y);
              break;
          }
          instance[x][y] = Object.assign(assigned, element)
        }
      }
      return instance;
    },

    /**
     * Event when canvas is clicked to select square
     **/
    canvasClicked:function (e){
      const canvas = this.$refs.grid;
      let size;
      let xCoo;
      let yCoo;
      if(this.fullscreen) {
        yCoo = e.pageY;
        xCoo = e.pageX;
        if(window.screen.width > window.screen.height){
          size = window.screen.height;
          xCoo = xCoo - (window.screen.width - window.screen.height)/2;
        }else{
          size = window.screen.width;
          yCoo = yCoo + (window.screen.width - window.screen.height)/2;
        }
      }else{
        xCoo = e.offsetX;
        yCoo = e.offsetY;
        size = canvas.clientWidth;
      }

      let X = Math.floor(xCoo / size * 9);
      let Y = Math.floor(yCoo / size * 9);
      let x = window.scrollX, y = window.scrollY;

      //mobile users
      this.openKeyBoard(e);

      window.scrollTo(x, y);
      if(this.sudoku.sudoku[X][Y].changeable) {
        if(this.sudoku.sudoku[X][Y].class === "Wrong" || this.sudoku.sudoku[X][Y].class === "SelectedWrong") {
          this.selected = new SelectedWrong(X, Y);
        }else{
          this.selected = new SelectedSquare(X, Y);
        }
        this.selected.number = this.sudoku.sudoku[X][Y].number;
        this.canvasDrawSudoku();
      }else{
        this.wrongSound();
      }
    },

    /**
     * For mobile phone, open keyboard
     **/
     openKeyBoard: function(){
      document.getElementById("dummyInput").focus();
      document.getElementById("dummyInput").click();
      return "keyboard open";

},
    /**
     * Make canvas fullscreen
     **/
     requestFullscreen() {
      let canvas = this.$refs.grid;
      window.addEventListener('keypress',
        this.keypress);
      if (canvas.requestFullscreen) {
        canvas.requestFullscreen();
      } else if (canvas.msRequestFullscreen) {
        canvas.msRequestFullscreen();
      } else if (canvas.mozRequestFullScreen) {
        canvas.mozRequestFullScreen();
      } else if (canvas.webkitRequestFullscreen) {
        canvas.webkitRequestFullscreen();
      }
    },

    exitFullscreen() {
      if (!document.fullscreenElement) return;
      if (document.exitFullscreen) {
        document.exitFullscreen();
      } else if (document.msExitFullscreen) {
        document.msExitFullscreen();
      } else if (document.mozCancelFullScreen) {
        document.mozCancelFullScreen();
      } else if (document.webkitExitFullscreen) {
        document.webkitExitFullscreen();
      }
    },

    /**
     * Make oscilator sound when user clicks to unchangeableSquare
     **/
     wrongSound: function(){
      const audioCtx = new window.AudioContext();
      let oscillator = audioCtx.createOscillator();
      const gainNode = audioCtx.createGain();
      oscillator.connect(gainNode);
      gainNode.connect(audioCtx.destination);
      oscillator.type = 'triangle';
      oscillator.frequency.value = 150; // pocatecni frekvence
      //oscillator.detune.value = cent || 100; // hodnota v centech
      oscillator.start(0);
      oscillator.stop(0.2)
      gainNode.gain.value = 0.1;
    },

    /**
     * Event when key is pressed, writes number to selectedSquare
     **/
     keypress:function(e){
      e.preventDefault()
      let key = e.keyCode - 48;
      if(key >= 0 && key < 10 && this.selected !=null){
        this.selected.number = key;
        this.sudoku.sudoku[this.selected.x][this.selected.y].number = key;
        this.checkNumber(this.selected, key);
        this.canvasDrawSudoku();
        this.checkWin();
      }

    },

    /**
     * check if all numbers in user's sudoku are the same as in the solution
     **/
     checkWin: function(){
      for(let i = 0; i < 9; ++i){
        for(let j = 0; j < 9; ++j) {
          if (this.sudoku.sudoku[i][j].number !== this.sudoku.solution[i][j]) {
            return;
          }
        }
      }
      let gameType = localStorage.gameType;

      //Save result to localStorage
      if(gameType !== "Custom") {
        if (!localStorage.win) {
          localStorage.win = JSON.stringify([[gameType === "Hard", this.seconds, this.name]]);
        } else {
          let i = JSON.parse(localStorage.win);
          i.push([gameType === "Hard", this.seconds, this.name]);
          localStorage.win = JSON.stringify(i);
        }
      }
      this.win = true;

      localStorage.removeItem("sudoku");
      this.exitFullscreen();
      localStorage.removeItem("name");
    },

    /**
     * Checks if another same number is in square, row or column. If there is, it changes both of them to WrongSquare.
     * Also checks if wrong squares weren't corrected, if they were, it changes them from WrongSquare to Square
     **/
     checkNumber:function(squarePar, number){
      if(!number){
        return;
      }
      let x = squarePar.x;
      let y = squarePar.y;
      let square = this.sudoku.sudoku[x][y];
      let wrong = false;
      let tempNmr;

      //check selected square neighbours if they aren't correct now
      if(squarePar.class === "SelectedWrong"){
        for(let i = 0; i < square.wrongNeighbours.length; ++i){
          let neighbour = square.wrongNeighbours[i];
          if(neighbour.number !== square.number){
            for(let i = 0; i < neighbour.wrongNeighbours.length; i++){
              if (Object.is(neighbour.wrongNeighbours.length[i], square)){
                neighbour.wrongNeighbours.splice(i, 1);
              }
              if (Object.is(square.wrongNeighbours.length[i], neighbour)){
                square.wrongNeighbours.splice(i, 1);
              }
            }
          }
          //recursion called to neighbour square
          this.checkNumber(neighbour, neighbour.number);
        }
      }


      for(let i = 0; i < 9; i++){
        //check if columns are correct
        tempNmr = this.sudoku.sudoku[x][i].number;
        if(tempNmr === number && i !== y){
          if(x===this.selected.x && y===this.selected.y) {
            this.selected = new SelectedWrong(x, y);
            this.selected.number = number;
            if(this.sudoku.sudoku[x][y].class !== "Wrong") {
              this.sudoku.sudoku[x][y] = new Wrong(x, y);
              this.sudoku.sudoku[x][y].number = number;
            }
            if (this.sudoku.sudoku[x][i].changeable) {
              if(this.sudoku.sudoku[x][i].class !== "wrong"){
                this.sudoku.sudoku[x][i] = new Wrong(x, i);
                this.sudoku.sudoku[x][i].number = tempNmr;
              }
              this.sudoku.sudoku[x][i].wrongNeighbours.push(this.sudoku.sudoku[x][y]);
              this.sudoku.sudoku[x][y].wrongNeighbours.push(this.sudoku.sudoku[x][i]);
            }
          }
          wrong = true;
        }

        //check if rows are correct
        tempNmr = this.sudoku.sudoku[i][y].number;
        if(tempNmr === number && i !== x){
          if(x===this.selected.x && y===this.selected.y) {
            this.selected = new SelectedWrong(x, y);
            this.selected.number = number;
            if(this.sudoku.sudoku[x][y].class !== "Wrong") {
              this.sudoku.sudoku[x][y] = new Wrong(x, y);
              this.sudoku.sudoku[x][y].number = number;
            }

            if (this.sudoku.sudoku[i][y].changeable) {
              if(this.sudoku.sudoku[i][y].class !=="Wrong") {
                this.sudoku.sudoku[i][y] = new Wrong(i, y);
                this.sudoku.sudoku[i][y].number = tempNmr;
              }
              this.sudoku.sudoku[i][y].wrongNeighbours.push(this.sudoku.sudoku[x][y]);
              this.sudoku.sudoku[x][y].wrongNeighbours.push(this.sudoku.sudoku[i][y]);

            }
          }
          wrong = true;
        }
      }

      //check if squares are correct
      let bigSquareX = Math.floor(x/3)*3;
      let bigSquareY = Math.floor(y/3)*3;
      for(let i = 0; i < 3; i++){
        for(let j = 0; j < 3; j++){
          tempNmr = this.sudoku.sudoku[bigSquareX + i][bigSquareY + j].number;
          if(this.sudoku.sudoku[bigSquareX + i][bigSquareY + j].number === number && !(bigSquareX + i === x && bigSquareY + j === y)){
            if(x===this.selected.x && y===this.selected.y) {
              this.selected = new SelectedWrong(x, y);
              this.selected.number = number;
              if(this.sudoku.sudoku[x][y].class !== "Wrong") {
                this.sudoku.sudoku[x][y] = new Wrong(x, y);
                this.sudoku.sudoku[x][y].number = number;
              }

              if (this.sudoku.sudoku[bigSquareX + i][bigSquareY + j].changeable) {
                if(this.sudoku.sudoku[bigSquareX + i][bigSquareY + j].class !== "Wrong")
                {
                  this.sudoku.sudoku[bigSquareX + i][bigSquareY + j] = new Wrong(bigSquareX + i, bigSquareY + j);
                  this.sudoku.sudoku[bigSquareX + i][bigSquareY + j].number = tempNmr;
                }
                this.sudoku.sudoku[bigSquareX + i][bigSquareY + j].wrongNeighbours.push(this.sudoku.sudoku[x][y]);
                this.sudoku.sudoku[x][y].wrongNeighbours.push(this.sudoku.sudoku[bigSquareX + i][bigSquareY + j]);
              }
            }
            wrong = true;
          }
        }
      }

      if(!wrong) {
        if(squarePar.class === "SelectedWrong"){
          this.selected = new SelectedSquare(x,y);
          this.selected.number = number;
        }
        this.sudoku.sudoku[x][y] = new Square(x, y);
        this.sudoku.sudoku[x][y].number = number;
      }
    },

    /**
     * give attributes to canvas
     **/
     prepareCanvas: function (){
      if(window.innerWidth < 600){
        this.size = 30;
      }
      let canvas = this.$refs.grid;
      const width = this.size*9;
      const height = this.size*9;

      canvas.width = devicePixelRatio*width;
      canvas.height = devicePixelRatio*height;
      canvas.style.width = width + "px";
      canvas.style.height = height + "px";

      const ctx = canvas.getContext('2d');
      ctx.scale(devicePixelRatio,devicePixelRatio);
    },

    /**
     * draws sudoku squares to canvas
     **/
     drawCanvasSquare: function (ctx) {
      for (let x = 0; x < 9; x++) {
        for (let y = 0; y < 9; y++) {
          let element = this.sudoku.sudoku[x][y];
          this.canvasFillSquare(x, y, element, ctx);
        }
      }
      if(this.selected != null)
        this.canvasFillSquare(this.selected.x, this.selected.y, this.selected, ctx);
    },

    /**
     * Draws canvas
     **/
     canvasDrawSudoku: function () {
      const canvas = this.$refs.grid;
      if(!canvas) return;     // When user exits the game
      const ctx = canvas.getContext('2d');
      this.clear(ctx);
      this.drawCanvasSquare(ctx);
      this.canvasLines(ctx);
    },

     /**
      fill squares with numbers and images that show their square types
     */
    canvasFillSquare: function (x, y, element, ctx) {
      if (!ctx) {
        const canvas = this.$refs.grid;
        ctx = canvas.getContext('2d');
      }
      const squareCoo = this.squareCoordination(x,y);
      const size = this.size;
      ctx.drawImage(element.getImage(), squareCoo[0], squareCoo[1], size, size);

      ctx.fillStyle = "blue";
      ctx.font = "bold " + this.size/2 + "px Verdana";
      if(element.number)
       ctx.fillText(element.number, squareCoo[0] + 7*this.size/20, squareCoo[1] +  3*this.size/4);
    },

    /**
     * returns pixel coordination of square
     */
    squareCoordination: function (x, y) {
      return [x * this.size, y * this.size]
    },

    /**
     * clears canvas
     */
    clear: function (ctx) {
      const size = 9 * this.size;
      ctx.fillRect(0, 0, size, size);
    },

    /**
     * draw lines to canvas to separate squares
     */
    canvasLines: function (ctx) {
      ctx.strokeStyle = "rgb(100,100,100)";
      for (let i = 0; i <= 9; i++) {
        ctx.beginPath();
        ctx.moveTo(i*this.size, 0);
        ctx.lineTo(i*this.size, 9*this.size);
        ctx.moveTo(0, i*this.size);
        ctx.lineTo(9*this.size, i*this.size);
        if(i%3 === 0){
          ctx.lineWidth = 3;
        }else{
          ctx.lineWidth = 1
        }
        ctx.stroke();
      }
    }
  }
}
</script>

<style scoped>




canvas {
  display: inline-block;
  margin: auto;
  filter: drop-shadow(0px 0px 2px black);

}
canvas + div {
  padding: 30px;
  border-style: solid;
  margin-top: 100px;
  position: absolute;
  display: inline-block;
  margin-left: 50px;
  text-align: center;
  background-color: lightcyan;
}


button{
  width: 125px;
  display:block;
  text-decoration:none;
  font-size: 20px;
  font-weight:bold;
  color:black;
  background-color:lightgray;
  border-radius:10px;
  transition: filter .3s;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
@media (max-width: 599px){
  canvas + div{
    position: static;
    display:block;
    width: 200px;
    margin: 50px auto auto;
  }canvas{
    display:block
     }
  button + button{
    display:none
  }
}



</style>