<template>
  <div id="main">
    <div>
      <h1>Vyhráli jste</h1>
      <div>Váš čas byl {{Math.round((Date.now()-time)/1000)}} sekund
        <span v-if="type==='Hard'"> v těžkém režimu, váš výsledek je zepsán do žebříčku</span>
        <span v-else-if="type==='Easy'">v lehkém režimu, váš výsledek je zapsán do žebříčku</span>.
      </div>
      <div>
        <button @click="menu">Hlavní menu</button>
        <button v-if="type!=='Custom'" @click="scoreboard">Žebříček</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Win",
  data(){return{
    time: localStorage.time,
    type: localStorage.gameType
  }},

  mounted(){
    localStorage.removeItem("time");
    localStorage.removeItem("gameType");
    new Audio(require("../assets/celebration.mp3")).play();
  },
  methods:{
    menu:function(){
      this.$router.push("/");
    },
    scoreboard:function(){
      this.$router.push("/score");
    }
  }
}
</script>

<style scoped>

button {
  width: 150px;
  display:inline-block;
  text-decoration:none;
  font-size: 20px;
  font-weight:bold;
  color:black;
  margin: 20px 50px;
  background-color:lightgray;
  border-radius:10px;
  transition: filter .3s;
  height: 50px;
}

h1 + div + div{
  margin:auto;
}

h1{
  font-size: 40px;
}

#main > div{
  padding: 20px;
  background-color: rgb(240,240,240);
  border-radius: 5px;
  min-width: 300px;
  margin: auto;
  border-style: solid;
}

#main{
  background: rgba(135,206,250, 0.3);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}




</style>
