<template>
  <div id="app">
    <Background></Background>
    <transition name="fade">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
import Background from "@/components/Background";

export default {
  name: 'App',
  components: {Background
  }
}
</script>

<style>
body{
  overflow-x: hidden;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1{
  font-size: 100px;
}
@media (max-width: 600px){
  h1{
    font-size: 50px;
  }
}
</style>
